.carrinho_modal{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: none;
    @include devide(l){
        padding:10px;
    }
    &::before{
        content:'';
        position: fixed;
        top:0px;
        left:0px;
        width: 100%;
        height: 100vh;
        background: rgba($color: #000000, $alpha: 0.5);
    }
    &.ativo{
        display: block;
    }
    .carrinho_container{
        position: relative;
        margin:80px auto;
        background: #fff;
        padding:40px;
        max-width: 800px;
        animation: fadeInDown .6s forwards;
        .carrinho_fechar{
            border-radius:50%;
            border:2px solid #000;
            width: 40px;
            height: 40px;
            position: absolute;
            top:-10px;
            right:-10px;
            font-size: 1rem;
            cursor: pointer;
            @include box-shadow(0px 3px 4px rgba(0,0,0,0.6), 0px 4px 15px rgba(0,0,0,0.8));
        }
        .carrinho_titulo{
            margin-bottom: 10px;
            border-bottom: 2px solid #000000;
            padding-bottom:20px;
        }
        .carrinho_item{
            display: grid;
            grid-template-columns: 1fr 1fr 50px;
            border-bottom:1px solid rgba($color: #000000, $alpha: 0.3);
            padding:10px 0;
            .carrinho_preco{
                text-align: right;
            }
            .carrinho_remover{
                border: none;
                font-size: 1rem;
                cursor: pointer;
                background: transparent;
            }
        }
        .carrinho_total{
            text-align: right;
            padding:10px 50px 10px 0px;
            border-bottom: 2px solid #000000;
            margin-bottom: 20px;
        }
        .carrinho_finalizar{
            display: block;
            margin-left:auto;
            background: #000000;
            cursor: pointer;
            color: #fff;
            font-size: 1rem;
            padding: 10px 25px;
            border:none;
            font-family: $fontPrimary;
        }
    }

}