.modal{
    position: absolute;
    top: 0px;
    left:0px;
    width: 100%;
    padding:80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &::before{
        content:"";
        position: fixed;
        top: 0px;
        left:0px;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
    }
    .modal_container{
        position: relative;
        z-index: 1;
        display: grid;
        align-items: end;
        grid-gap:50px;
        padding: 50px 50px 50px 0;
        background: linear-gradient(to right, transparent 250px, #fff 250px);
        animation: fadeIn .5s forwards;
        .modal_img{
            grid-column: 1;
            @include box-shadow(0px 3px 4px rgba(0,0,0,0.6), 0px 4px 15px rgba(0,0,0,0.8));
            img{
                max-width: 300px;
                display: block;
            }
        }
        .modal_dados{
            max-width: 600px;
            grid-column: 2;
            .modal_fechar{
                border-radius:50%;
                border:2px solid #000;
                width: 40px;
                height: 40px;
                position: absolute;
                top:-10px;
                right:-10px;
                font-size: 1rem;
                cursor: pointer;
                @include box-shadow(0px 3px 4px rgba(0,0,0,0.6), 0px 4px 15px rgba(0,0,0,0.8));
            }
            .modal_titulo{
               font-size:3rem; 
            }
            .modal_btn{
                margin-top: 80px;
                background-color: #000;
                cursor:pointer;
                color:#fff;
                border:none;
                font-size:1rem;
                padding:10px 25px;
                font-family: $fontPrimary;
                &:active{
                    background: #808080;
                }
                &.esgotado{
                    background: #808080;
                }
            }
        }
        .avaliacoes{
            grid-column:2;
            .avaliacoes_subtitulo{
                font-size: 1.75rem;
            }
            .avaliacao{
                border-bottom:1px solid rgba(0,0,0,0.1);
                padding-bottom: 20px;
                .avaliacao_descricao{
                    color:rgba(0,0,0,0.7);
                    margin:20px 0px 5px 0px;
                }
                .avaliacao_usuario{
                    font-weight: bold;
                }
            }
        }
        
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translate3d(50px, 0, 0)
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

// ALERT
.alerta{
    position: absolute;
    top:20px;
    left:0px;
    z-index: 10;
    width: 100%;
    text-align: center;
    display: none;
    &.ativo{
        display: block;
        animation: fadeInDown 0.3s forwards;
    }
    .alerta_mensagem{
        background: #fff;
        display: inline-block;
        padding:20px 40px;
        border:2px solid #000;
        @include box-shadow(0px 3px 4px rgba(0,0,0,0.6), 0px 4px 15px rgba(0,0,0,0.8));
    }
}
@keyframes fadeInDown {
    from{
        opacity:0;
        transform: translate3d(0, -30px, 0);
    }
    to{
        opacity:1;
        transform: translate3d(0, 0, 0);
    }
}